name: Java CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean package
    

  test:
    runs-on: ubuntu-latest
    needs: build   # test kører først når build er succesfuld
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run tests
        run: mvn test
  

  docker:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3

      - name: Build JAR
        run: mvn clean package

      - name: Build Docker image
        run: docker build -t email-pipeline .

      - name: Run Docker container
        run: docker run email-pipeline


  deploy:
    runs-on: ubuntu-latest
    needs: docker   # deploy kører kun hvis docker lykkes
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Deploy
        run: echo "Her kan du skrive dit deploy-script"
