name: Java CI

on: 
    push: 
      branches: [ main ]
    pull_request: 
      branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
      - run: mvn clean package

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '21'
      - run: mvn test

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo "Deploy to server..."
